# Tour de Python

### María Fernanda López Juárez
###  03/ Septiembre/ 2020

#### Ayuda en Python

In [3]:
str?

#Te despliega un coso con información de la instucción que antecede el signo de interrogación

In [2]:
str.capitalize

# Aquí lo que haces al presionar TAB es que te aparece un coso para autocompletar con los métodos que puedes utilizar.

### Variables y asignación

In [4]:
x = 1

#asignanding el numero 1 a la variable x

In [5]:
x

1

In [6]:
print(x)

1

In [7]:
# Asignación doble 

a, b = 3,4

print("El valor de a es", a)
print("EL valor de b es", b)

El valor de a es 3
EL valor de b es 4

### Tipos de variables

In [8]:
# Entero 

x = 1
x

1

In [9]:
# FLotante

y = 1.5
y

1.5

In [10]:
# Complejos. NOTA: Para poner complejos en lugar de i pones una j, si no no jala. 

z = 5 + 2j
z

(5+2j)

In [11]:
#Boleano

v = True
v

True

In [14]:
# Notación científica 

g = 1.2e34
g

1.2e+34

In [16]:
x = 1e-12 + 3.56e4j
x

(1e-12+35600j)

In [18]:
# Cadenas de texto 

cadena = u"Esto es una cadena de texto con acentos y otros símbolos UTF-8 ¿? ¡!"
cadena

'Esto es una cadena de texto con acentos y otros símbolos UTF-8 ¿? ¡!'

In [19]:
print(cadena)

Esto es una cadena de texto con acentos y otros símbolos UTF-8 ¿? ¡!

## Ejercicio

In [20]:
#Ejercicio: Usa la ayuda en línea de python para investigar: capitalización, convertir a mayúsculas, convertir a minúsculas
# Elimina los espacios de "Anita lava la tina". Aplica las cuatro operaciones una tras otra


c = "Anita lava la tina"
cM = c.upper()   #Mayúsculas
cM

'ANITA LAVA LA TINA'

In [22]:
# Haciendolas minúsculas

cm = c.lower()
cm

'anita lava la tina'

In [23]:
# Primera letra mayúscula

cm.capitalize()

'Anita lava la tina'

In [24]:
#Aquí lo que haces es reemplazar la primer cadena de caracteres con la segunda 

c.replace(" ","")

'Anitalavalatina'

### Asignación explicita de variables

In [25]:
x = int(2)   #Enteros
y = float(3)  #Reales
z = complex(1+2j)   #Complejos
a = str("Hola")   #Cadenas de caracteres

In [26]:
print(x,y,z,a)

2 3.0 (1+2j) Hola

## Operaciones

In [12]:
x =3
y = 2

In [28]:
#SUMA

x+y

5

In [29]:
#RESTA

x -y

1

In [30]:
#MULTIPLICACION

x*y

6

In [31]:
#POTENCIA

x**y

9

In [32]:
#DIVISION

x/y

1.5

In [33]:
#MODULO 

y%x

1

## Ejericicio

In [14]:
#REPITE LAS OPERACIONES ANTERIORES CON EL VALOR DE Y 

y = 4.1

print(x+y)
print(x-y)
print(x*y)
print(x**y)
print(x/y)
print(y%x)

7.1
-1.0999999999999996
12.299999999999999
90.40597709674623
0.7317073170731708
1.0999999999999996

## Ejercicio

Repite las operaciones con el siguiente tipo de dato de y

¿qué sucede? ¿cuál es el tipo de valor de salida?


#### Sucede que hace las operaciones y el tipo de valor de salida son numeros complejos

In [16]:
y = 4 + 3j

x+y

(7+3j)

In [17]:
x-y

(-1-3j)

In [18]:
x*y

(12+9j)

In [19]:
x**y

(-80.03836209851747-12.44429960209101j)

In [20]:
x/y

(0.48-0.36j)

In [21]:
y%x


#No existe el módulo en los complejos

TypeError: can't mod complex numbers.

## Condicionales

In [34]:
if x > 3:
    print("Esto no se debería imprimir")
    print("Nota que es dificil hacer esto")

In [35]:
x = 5

In [36]:
if x > 3:
    print("Esto sí se debería imprimir")

Esto sí se debería imprimir

### Operadores lógicos

In [37]:
#Igualdad

x == 1

False

In [38]:
#Mayor

x > 1

True

In [39]:
#Menor

x < 1

False

In [40]:
#Mayor igual

x >= 1

True

In [41]:
# x diferente de uno 

x != 1

True

In [42]:
# Es algo así como la unión

x > 10 or x <= 5

# (x > 10) | (x <= 5)

True

In [43]:
#Algo así como la intersección

x > 10 and x<=5

#(x > 10) & (x <= 5)

False

In [44]:
print(x)

5

In [45]:
if x>= 5 and x<10:
    print("Hola")
else:
    print(u"Nunca me verás")

Hola

## Ejercicio

In [2]:
#Usando los widgets que proporciona el notebook, programa una interfaz que indique imprimiendo si el número que se introduce es par o impar


from ipywidgets import interact, fixed, widgets

def foo(x):
    if x%2 == 0:
        print("El numéro es par ")
    else:
        print("El numero es impar")

In [6]:
interact(foo, x=10);

interactive(children=(IntSlider(value=10, description='x', max=30, min=-10), Output()), _dom_classes=('widget-…

## Bucles

In [7]:
#Para cada valor en la lista

for i in (1,2,3,4,5):
    print(i)

1
2
3
4
5

In [8]:
#Para cada valor en la cadena de caracteres

for x in u"Hola, ¿cómo estás?":
    print(x)

H
o
l
a
,

¿
c
ó
m
o

e
s
t
á
s
?

## While

In [22]:
# Mientras i sea mayor a cero y menor igual a 5

i = 1
while i > 0 and i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [23]:
for i in range(3,10,2):
    print(i)

3
5
7
9

## Ejercicio

Calcula el valor de la suma $\sum^{1000}_{k=0} \left(\frac{1}{k}\right)^2$.

In [25]:
suma = 0
for i in range (1,10001):
    suma  += ((1/i)**2)
print(suma)

1.6448340718480652

## Estructuras de datos built-in

### Listas

In [26]:
#Listas

a_list = [1,2,3,4,5]
a_list

[1, 2, 3, 4, 5]

In [28]:
otra = [1,1.3,4.5,2+1j,[1,2]]
otra

[1, 1.3, 4.5, (2+1j), [1, 2]]

In [29]:
#Indice de la lista

a_list[3]

4

In [30]:
otra[4]

[1, 2]

In [31]:
otra[4][0]

1

In [32]:
# Imprime de la posicion uno en adelante

a_list[1:]

[2, 3, 4, 5]

In [33]:
# Posición dos a tres

a_list[2:4]

[3, 4]

In [34]:
#Del inicio hasta la posicion 3

a_list[:4]

[1, 2, 3, 4]

In [35]:
#Agregar un elemento al final de la lista

n = 5
a_list.append(n)
a_list

[1, 2, 3, 4, 5, 5]

In [36]:
#Quitar el ultimo elemento de la lista

a_list.pop()
a_list

[1, 2, 3, 4, 5]

In [44]:
#NOTA: No seas mensa, al poner el método pop imprime, además, el último número que, justo, quita

a_list.pop()

5

In [37]:
a_list.append(3)
a_list[1] = 3   #Asignando el numero 3 a la posición uno
a_list.append(5)

a_list

[1, 3, 3, 4, 5, 3, 5]

In [38]:
a_list.remove?

#Elimina la primer aparicion del valor. La sintaxis correcta es a_list.remove(valor)

In [39]:
#Probando la función

a_list.remove(5)

In [40]:
a_list

[1, 3, 3, 4, 3, 5]

In [41]:
vacio = []
vacio

[]

In [42]:
for e in a_list:
    print(e)

1
3
3
4
3
5

In [43]:
for r in range(5):
    print(r)

0
1
2
3
4

## List comprehensions

En matemáticas, es normal describir conjuntos de forma compacta (describiendo las características de los elementos del conjunto)

En python podemos hacer algo similar con las listas

In [45]:
S =[x**2 for x in range(10)] #tiene los cuadrados de los numeros del 0 al 9
V = [2**x for x in range(13)] #dos a la potencia de i con i del 0 al 12
M = [x for x in S if x%2 == 0] #los pares del conjunto S

print(S)
print(V)
print(M)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]
[0, 4, 16, 36, 64]

También podemos aplica la misma en cadenas de caracteres

In [48]:
palabras = "Anita lava la tina".split() #Separanding por espacios
print(palabras)
transformación = [[w.upper(), w.lower(), len(w)] for w in palabras]
print("=====================")
for t in transformación:
    print(t)

['Anita', 'lava', 'la', 'tina']
=====================
['ANITA', 'anita', 5]
['LAVA', 'lava', 4]
['LA', 'la', 2]
['TINA', 'tina', 4]

In [49]:
transformación

[['ANITA', 'anita', 5],
 ['LAVA', 'lava', 4],
 ['LA', 'la', 2],
 ['TINA', 'tina', 4]]

Magicamente podemos usar muchos for en las listas comprimidas- veamos un ejemplirijillo


Los tripletes pitagóricos

In [50]:
n=25
[(x, y, z) for x in range(1,n) for y in range(x,n) for z in range(y, n) if x*x +y*y == z*z]

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

## Diccionarios


Son otra estructura importante

In [52]:
dicc = {'a':1, 'b':2, 'coral':'amarillo'}
dicc

{'a': 1, 'b': 2, 'coral': 'amarillo'}

diccionario['a']

#WEEEY NOOOOO :v

In [54]:
#Imprime los valoes del diccionario

dicc.values()

dict_values([1, 2, 'amarillo'])

In [55]:
#Imprime las llaves del diccionario

dicc.keys()

dict_keys(['a', 'b', 'coral'])

## Ejercicio / TAREA

Responde:
    - ¿Cómo puedo agregar elementos a un diccionario?
    
    - ¿Cómo puedo eliminar elementos de un diccionario?
    
    - ¿Cómo cambia el método pop respecto a las listas?
    
    - ¿Cómo puedo iterar un diccionario?

## Funciones

Principio DRY: 'Don't repeat yourself'

In [57]:
from math import sqrt, atan
def polar(x,y):
    """
    
    x, y son un par ordenado
    """
    r = sqrt(x**2 + y**2)
    theta = atan(x/y)
    return r, theta

In [58]:
polar?

#Al hacer esto te da la descripción que pusiste entre tres comillas en la función

In [59]:
polar??

#Al hacer esto te da todo el código de la función

In [61]:
#Ejecutando la función y asignando sus valores de retorno a esas variables

r, theta = polar(3,4)
print("La coordenada r es:", r)
print("El ángulo theta es:", theta)

La coordenada r es: 5.0
El ángulo theta es: 0.6435011087932844

## Ejericio / Tarea

Crea una funcion que devuelva las coordenadas (x,y,z) a partir de las coordenadas esféricas (r, theta, phi). Guárdla a disco en el archivo transformaciones.py

## Ejercicio / Tarea

Usando la funcion recién creada, usa la libreria interact para pedir los valores (r, theta, phi)